.app-header {
    text-align: center;
    font-size: 2vw;
    font-family: "Segoe UI", Arial, sans-serif;
}

textarea {
    resize: none;
}

.app-container {
    height: 100%;
    width: 100%;
}

.component-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.child-container {
    height: 100%;
    width: 50%;
}

.form-container {
    height:100%;
    margin-left: 10%;
}

.form-group{
    height: 100%;
}

.markdown-text-area {
    height: 90%;
}

.markdown-preview {
    margin-left: 5%;
    text-align: left;
}
